:root {
    --background-color: #717DE8;
    --button-color: #589AFB;
    --dark-color: #0A032A;
}


.navbar .navbar-nav .nav-item :hover {
    color: var(--dark-color) !important;
}


.main-btn {
    background-color: var(--button-color);
    color: white;
    padding: 0.5rem 1rem;
}

.main-btn:hover {
    color: white;
    background-color: var(--dark-color) ;
}
main{
    background-image: url('public/images/Group 303.png');
}

.navbar {
    background-color: #717DE8;
}

.card {
    border: none;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 15px;
}

.footer {
    font-size: 0.9rem;
    background-color: var(--dark-color);
}
.signUpFooter:hover {
    background-color:white;
    color: var(--dark-color);
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.card a:hover {
    text-decoration: underline !important;
}

