:root {
    --background-color: #717DE8;
    --button-color: #589AFB;
    --dark-color: #0A032A;
}


.navbar .navbar-nav .nav-item :hover {
    color: var(--dark-color) !important;
}


.main-btn {
    background-color: var(--button-color);
    color: white;
    padding: 0.5rem 1rem;
}

.main-btn:hover {
    color: white;
    background-color: var(--dark-color);
}

main {
    background-image: url('public/images/Group 303.png');
}

.navbar {
    background-color: #717DE8;
}

.card {
    border: none;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 15px;
}

.footer {
    font-size: 0.9rem;
    background-color: var(--dark-color);
}

.signUpFooter:hover {
    background-color: white;
    color: var(--dark-color);
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.card a:hover {
    text-decoration: underline !important;
}

.footer .facebook {
    background-color: #1877f2;
}

.footer .twitter {
    background-color: #1da1f2;
}

.footer .linkedin {
    background-color: #0077b5;
}

.footer .youtube {
    background-color: #ff0000;
}

.cart-content {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px;
}

.select-content {
    background-color: rgba(255, 255, 255, 0.1);
}

.dot {
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.circle-btn-right,
.circle-btn-left {
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.circle-btn i {
    font-size: 24px;
    color: gray;
}

.circle-btn-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.circle-btn-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

.category-card {
    border: none;
    background-color: #BDDBFF;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
}

.category-card.blue {
    background-color: var(--button-color);
    color: #fff;
}

.discount-badge {
    background-color: #ff4d4d;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 3px 8px;
    font-size: 0.8rem;
    border-radius: 5px;
}

.product-card img {
    border-radius: 8px;
    object-fit: cover;
}


.sidebar {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar h6,
.sidebar h5 {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.sidebar h6 {
    background: #f8f9fa;
}

.menu-item {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 15px;
}

.custom-card {
    background-color: #112a4f;
    color: white;
    border-radius: 10px;
    padding: 15px;
}

.sidebar {
    max-width: 250px;
    background-color: rgba(249, 251, 253, 0.8);
    border-radius: 12px;
    padding: 10px;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 8px;
    color: #000;
    border-radius: 10px;
    font-weight: 500;
}

.sidebar .nav-link.active {
    background-color: #cce7ff;
    color: #000;
}

.sidebar img {
    max-width: 25px;
    margin-right: 10px;
}

.video-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.875rem;
}



  .topic-item {
    display: flex;
    align-items: center;
    background-color: #BDDBFF;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease;
  }
  .topic-item:hover {
    background-color: rgba(0, 123, 255, 0.2);
    transform: scale(1.02);
  }

  .topic-item img {
    max-width: 30px;
    margin-right: 10px;
  }

  .topic-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    width: 100%;
  }

  .topic-item.active {
    background-color:var(--button-color); 
  }

  .video-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }